{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinema</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>
<body>
<div class="mt-20">
    <h1 class="text-center text-2xl" >Login</h1>
    <div class="shadow m-auto flex w-1/2 items-center justify-center ">
        <form action="{% url 'login' %}" method="post" class="flex flex-col p-20 gap-4">
            {% csrf_token %} 
            <input type="text" placeholder="Username" name="username" class="px-4 py-2 border-2 border-violet-600" > 
            <input type="password" placeholder="Password" name="password" class="px-4 py-2 border-2 border-violet-600">
            <button type="submit" class="px-2 py-1 border-2 border-violet-600 rounded hover:bg-violet-600 hover:text-white active:bg-violet-800">Login</button>
        </form>
    </div>
</div>
    
</body>
</html>